{{> welcomemenu }}
<section class="ui center aligned middle aligned two column grid segment">
  <div class="column">
    <p> Sign up or Log in... </p>
  </div>
  <div class="column">
    <img class="ui image" src="https://cdn.glitch.com/be342d31-708b-488c-89fa-309fd26498cb%2Fabout.jpg?v=1565976108829">
  </div>
</section>