{{> membermenu id="memberdashboard"}}

<section class="ui center aligned middle aligned segment">
  {{>analytics}}
  {{>addgoals}}
  {{>goalSummary}}
  {{>listgoals}}
  {{>addassessment}}
  {{>listassessments}}
  
</section>