{{> trainermenu}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
   {{>analytics}}
  </h2>
  {{>traineraddgoals}}
  {{>goalSummary}}
  {{>listgoals}}
  {{>trainerlistassessments}}
</section>